[Desktop Entry]
Name=AlmaLinux waves-sunset
X-KDE-PluginInfo-Name=Alma-waves-sunset
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@almalinux.org
X-KDE-PluginInfo-License=MIT
