[Desktop Entry]
Name=AlmaLinux light
X-KDE-PluginInfo-Name=Alma-light
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=MIT
