[Desktop Entry]
Name=AlmaLinux dark
X-KDE-PluginInfo-Name=Alma-dark
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=MIT
