[Desktop Entry]
Name=AlmaLinux abstract-dark
X-KDE-PluginInfo-Name=Alma-abstract-dark
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=MIT
