[Desktop Entry]
Name=AlmaLinux mountains-dark
X-KDE-PluginInfo-Name=Alma-mountains-dark
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@almalinux.org
X-KDE-PluginInfo-License=MIT
